@tailwind base;
@tailwind components;
@tailwind utilities;


.flow-auto { overflow: auto !important;}
[x-cloak] { display: none !important; }

.price:before,
.price:after {
    content: "";
    top: 0;
    bottom: 0;
    position: absolute;
    border-style: solid;
    border-width: calc(.25rem + 1.1375rem/2);
}
.price:before {
    border-color: rgb(0 0 0/1);
    right: 0;
    border-left-width: 0.0625rem;
}

.price:after {
    border-color:  theme('colors.primary-600') ;
    right: 0.0625rem;
    border-left: none;
}

.price:before, .price:after {
    border-right: solid transparent 1em;
}

.chat-screen {
    height: calc(100svh - 3.85rem);
}

.btn-secondary {
  @apply bg-black !important;
  @apply dark:bg-white/20 !important;
}
.fi-modal-window, .fi-fo-wizard, .fi-btn {
    @apply classic:ring-black;
}
.fi-fo-wizard-header {
    @apply classic:border-black;
}
.fi-fo-wizard-header-step  svg{
    @apply classic:text-black;
}
.fi-ta-table tbody, .fi-ta-ctn, .fi-ta-content{
    @apply classic:divide-black classic:ring-black;
}
.fi-ta-table thead {
    @apply classic:border-b classic:border-black;
}

.fi-section, .filepond--root {
    @apply classic:ring-black;
}
.fi-section-content-ctn, .divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
    @apply classic:border-black;
}
.fi-input-wrapper, .fi-fo-markdown-editor, .fi-input-wrp, .fi-dropdown-panel, .fi-fo-textarea, .fi-fo-tags-input, .fi-fo-radio input, .fi-checkbox-input {
    @apply classic:ring-black;
}

.fi-checkbox-input {
    @apply h-5 w-5;
}
.fi-dropdown-list {
    @apply p-0;
}
.fi-dropdown-list-item {
    @apply px-3 py-3 classic:hover:bg-black classic:hover:text-white rounded-none first:rounded-t-md last:rounded-b-md;
}
.fi-dropdown-panel {
    @apply classic:shadow-custom;
}
.fi-dropdown-list-item-icon.text-gray-400 {
    @apply classic:text-black;
}


.fi-dropdown-list-item:hover .fi-dropdown-list-item-icon, .fi-dropdown-list-item:hover .fi-dropdown-list-item-label  {
    @apply classic:text-white;
}
.home-search .fi-input-wrp {
   @apply w-full rounded-xl dark:bg-gray-800;
}

.home-search .fi-input-wrp .fi-input {
    @apply py-[0.6rem] text-base;
}

.home-search .fi-input-wrp div:last-child {
    @apply bg-black rounded-r-xl px-0;
}
.home-search .fi-input-wrp .fi-icon-btn-icon {
    @apply text-white dark:text-primary-600;
}
.home-search .fi-input-wrp  .fi-icon-btn {
    @apply w-14 h-10;
}
.send-message textarea{
    max-height: 120px;
}
.fi-breadcrumbs {
    @apply overflow-x-auto overflow-y-hidden whitespace-nowrap;
}
.fi-breadcrumbs ol {
    @apply flex flex-nowrap items-center gap-2;
}

.payment-methods .fi-fo-radio > div {
    @apply bg-white py-[0.875rem] px-4  rounded-xl mb-4 border border-gray-200 classic:border-black;
 }

 .iti__country-list
{
   @apply dark:bg-gray-950 dark:text-white classic:bg-gray-100;
}
